body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://img.freepik.com/free-photo/pastel-background-sky-feminine-style_53876-104862.jpg?size=626&ext=jpg&ga=GA1.2.1797209289.1657108605');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.center-div {
    padding-top: 10%;
}

.btn.btn-success {
    padding: .4em 2em;
    margin-top: 2rem;
}

form {
    padding: 0 3em;
    margin-top: -1rem;
}

#login .title > span {
    font-size: .8em;
}

#login a {
    font-size: 10px;
}

.form-group {
    margin-bottom: 1rem;
}